<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Pneum<span class="target">AI</span></h1>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="service.html">Services</a>
            <a href="#">Contact</a>
            <a href="#">Login</a>
        </nav>
    </header>
    <section class="Home">
        <div class="text-box">
            
            <h1>L'IA au service de la santé</h1>
            <p>Découvrez l'efficacité de nos modèles innovants pour une détection précoce de la pneumonie grâce à l'intelligence artificielle</p>
            <span class="btn-box">
                <button type="button" class="btn" onclick="window.location.href='service.html';">Start Now</button>
                <button type="button" class="btn">Contact Us</button>
            </span>
        </div>
        <img src="C:\Users\Competitif Prog\Desktop\pfa\web\static\head.png" class="img head" alt="">
        <img src="C:\Users\Competitif Prog\Desktop\pfa\web\static\img.png" class="img" alt="">
    </section>
</body>
</html>